.name {
    text-align: center;
}

.score {
    text-align: center;
    color:blue;
}


.hp{
    text-align:center;
    color:green;
}
.cube {
    background-color: rgb(210, 255, 210);
    padding:20px;
    margin:10px;
    height:450px;
    font-size: 80px;
    font-weight: bold;
}

.you {
    background-color: rgb(210, 210, 210);
    padding:20px;
    margin:10px;
    height:450px;
    font-size: 80px;
    font-weight: bold;
}

.fas{
    text-align: center;
    color:green;
}