.name {
    text-align: center;
}

.score {
    text-align: center;
    color:blue;
}


.hp{
    text-align:center;
    color:green;
    font-size: 50px;

}
.cube {
    background-color: rgb(210, 255, 210);
    padding:20px;
    margin:10px;
    height:300px;
    font-size: 60px;
    font-weight: bold;
}

.you {
    background-color: rgb(210, 210, 210);
    padding:20px;
    margin:10px;
    height:300px;
    font-size: 60px;
    font-weight: bold;
}

.fas{
    text-align: center;
    color:green;
}

p {
    margin-bottom: 0px;
}